  <div class="switch switch-blue">
    <input type="radio" class="switch-input" name="view2" value="week2" id="week2" checked>
    <label for="week2" class="switch-label switch-label-off">accept</label>
    <input type="radio" class="switch-input" name="view2" value="month2" id="month2">
    <label for="month2" class="switch-label switch-label-on">decline</label>
    <span class="switch-selection"></span>
  </div>
