<div class="card-warpper padded">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <% @places.each do |place| %>
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('background.jpg');">
            <div class="card-category">Popular</div>
            <div class="card-description">
              <h2><%= place.name %></h2>
              <span><%= place.price %> €</span>
            </div>
            <img class="card-user avatar" src="user.jpg">
            <a class="card-link" href="#" ></a>
          </div>
        <% end %>
      </div>


    </div>
  </div>
</div>

