<div class="card-wrapper padded">
  <div class="container">
    <div class="row">
    <% @places.each do |place| %>
      <div class="col-xs-12 col-sm-4">
        <%= link_to place_path(place) do %>
          <div class="card-place">
            <%= render 'shared/card', place: place %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>


