<form class="form-inline form">
    <input type="text" class="form-control form-group" placeholder="Where?">
    <input type="string" class="form-control datepicker form-group" class="form-group" placeholder="Start date">
    <input type="string" class="form-control form-group" placeholder="End date">
    <input type="text" class="form-control form-group" placeholder="#">
  <button type="submit" class="btn btn-primary btn">Search</button>
</form>
