.contact-bar {
  padding: 20px;
  border: 1px solid $orange;
  background: white;
}

.contact-container {
  box-sizing: border-box;
}

.wrapper-new {
  padding: 90px;
}

.wrapper-show {
  height: 500px;
  background-size: cover !important;
}

.wrapper-index {
  padding: 50px;
}

.wrapper-info {
  padding: 20px;
}

.place-info {
  min-height: 300px;
  padding: 20px;
}

.map {
  position: fixed;
}

.index-search {
  margin-left: 15px;
  margin-bottom: 25px;
}

.margin-right {
  margin-right: 25px !important;;
}
