.card {
  height: 175px;
  background-size: cover !important;
  color: white;
  position: relative;
}
.card-user {
  position: absolute;
  left: 0px;
  top: 0px;
}

.card-numbers {
  position: absolute;
  right: 10px;
  top: 10px;
  text-align: right;
}
.card-category {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 10px;
  text-transform: uppercase;
}
.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.card-description h2 {
  font-size: 28px;
}

.card-numbers h2 {
  font-size: 24px;
  margin-top: 0;
  }

.card-numbers h3 {
  font-size: 36px;
  margin-top: 0;
  }

.card-description p {
  font-size: 13px;
  }
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index:2;
  background: black;
  opacity: 0;
}
.card-link:hover{
  opacity: 0.1;
}

.card-wrapper {
  background-color: lightgray;
}
