.myparties-content {
  background: $gray-light;
  padding: 20px;
}

.myparties-content li {
  color: #7f8c8d;
  font-size: 18px;

}

.card-container card {
  margin: 10px auto;
}

.place-row {
  margin: 10px;
  display: flex;
  align-items: center;
}

.bookings-container {
  padding: 20px;
  vertical-align: middle;

}
