.wrapper {
  background: $gray;
}


.wrapper .tab-content {
  background: white;
}

.tab-content {
  background: white;
  padding: 20px;
}

.tab-content li {
  color: #7f8c8d;
  font-size: 18px;
}

.tab-content h3 {
  color: #7f8c8d;
  font-size: 18px;
}

.card-container card {
  margin: 10px auto;
}

.place-row {
  margin: 10px;
  display: flex;
  align-items: center;
}
.booking-row {
  margin: 10px;
  display: flex;
  align-items: center;
}
.bookings-container {
  padding: 20px;
  vertical-align: middle;
}

.bookings-list {
  display: flex;
  align-items:center;
}

.bookings-list {
  text-align: middle;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bookings-list li {
  align-items: center;
  text-align: middle;
  justify-content: space-between;
}

.bookings-list a {
  color: white;
  font-weight: bold;
}

.bookings-list button {
  width: 80px;
}
