<h1>Mes soirées</h1>

<% @places.each do |place| %>
  <%= place.name %> | <%= place.address %> | <%= place.price %> | <%= place.capacity %> <br>
<% end %>


<% current_user.bookings.each do |booking| %>



<% end %>
